**/*.test.*
**/*.md
**/*.log
local-proxy.Dockerfile
test
doc
.storybook
node_modules
.git
.env
.vscode
.editorconfig
.eslintrc
.gitignore
.huskyrc
vcap.sh
.idea
.vscode
.jshintrc
.DS_Store
final-vcap.json
nodemon.json
jest-config.js
jestResults.xml
Jenkinsfile
commitlint.config.js
coverage-final.json
pii_staging
public
